/* .table-container {
  display: flex;
  align-items: left;
  justify-content: left;
  
} */

/* .signup-container{
  display: flex;
  align-items: center;
  justify-content: center;
} */

table {
  border-collapse: collapse;
  width: 800px;
  font-size: 28px;
}

table td {
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: rgb(205, 235, 253);
}

table th {
  border-left:  2px solid white;
  border-right: 2px solid white;
  background-color: rgb(117, 201, 250);
}

.form-container {
  width: auto;
  gap: 5px;

}

/* form td:last-child {
  display: flex;
  justify-content: space-evenly;
} */
/* 
form * {
  font-size: 14px;
} */